In [99]:
import pandas as pd
import numpy as np

Silencing warnings that are unnecessary

In [100]:
try:
    import warnings
    warnings.filterwarnings('ignore')
except:
    pass

Load Files

In [101]:
data = pd.read_csv("./../original_data/castillo_subset.csv")
names = pd.read_csv("./../mapping_files/scientific_names.csv", index_col = False)
elements = pd.read_csv("./../mapping_files/element_names.csv", index_col = False)

Turn mapping files into python dictionaries

In [102]:
name_dict = names.set_index('old_names').to_dict()['cleaned_names']
element_dict = elements.set_index('old_elements').to_dict()['cleaned_elements']
id_dict = elements.set_index('cleaned_elements').to_dict()['element_ID']

Create new columns for cleaned scientific name and element name

In [103]:
data = data.assign(scientificName = "")
data = data.assign(element = "")
data = data.assign(elementID = "")

Match scientificName to verbatimScientificName

In [104]:
def clean_name(name): 
    """Matches verbatimScientificName to cleaned scientificName with dictionary"""
    if name in name_dict.values():
        return name
    elif name in name_dict.keys():
        return name_dict[name]
    else:
        return ""
    
data["scientificName"] = data["verbatimScientificName"].apply(clean_name)

Match verbatimElement to elementName

In [105]:
def clean_element(element): 
    """Matches verbatimScientificName to cleaned scientificName with dictionary"""
    if element in element_dict.values():
        return element
    elif element in element_dict.keys():
        return element_dict[element]
    else:
        return ""
    
data["element"] = data["verbatimElement"].apply(clean_element)

Add Uberon IDs

In [106]:
def add_ID(element): 
    """Matches verbatimScientificName to cleaned scientificName with dictionary"""
    if element in id_dict.keys():
        return id_dict[element]
    else:
        return ""

data["elementID"] = data["element"].apply(add_ID)

In [107]:
data

,verbatimScientificName,verbatimElement,scientificName,element,elementID
0,Sylvilagus sp.,atlas,Sylvilagus,,
1,Sylvilagus sp.,astragalus,Sylvilagus,plastron: xiphiplastron,UBERON:0011661
2,Sylvilagus sp.,dentary,Sylvilagus,dentary,UBERON:0004742
3,Artiodactyla,lumbar vertebra,Artiodactyla,,
4,Bos taurus,phalanx,Bos taurus,phalanx,UBERON:0003221
...,...,...,...,...,...
923,Opsanus beta,skull,Opsanus beta,,
924,Opsanus beta,vertebra,Opsanus beta,vertebra,UBERON:0002412
925,Opsanus beta,dentary,Opsanus beta,dentary,UBERON:0004742
926,Opsanus beta,unidentified,Opsanus beta,unidentified skeletal element,UBERON:0004765
927,Osteichthyes,unidentified,Osteichthyes,unidentified skeletal element,UBERON:0004765