ZAN Data Processing Notebook
<br />
Neeka Sewnath
<br />
nsewnath@ufl.edu

In [3]:
import pandas as pd
import uuid

Read data spreadsheet

In [4]:
data = pd.read_csv("./../original_data/baptizing_spring_old_clean_data.csv")

Start data at appropriate row

In [5]:
new_header = data.iloc[1] 
data = data[2:] 
data.columns = new_header

Drop initial order

In [6]:
data.drop(columns=['Initial Sort Order'])

1,Site #,Acc. #,F.S.#,Trench,Unit,Zone,Feature,Area,Provenience Other,UF Number,...,Clean Portion,Side,Alteration,Age,NISP,Weight (g) per provenience per taxon,Weight (g) per Specimen(s),MNI,Measurements,Notes
2,8SU65,221,111,NaN,542N 500E,NaN,12 (hearth),NaN,NaN,2210043,...,fragment,NaN,NaN,NaN,10,5,NaN,NaN,NaN,NaN
3,8SU65,221,111,NaN,542N 500E,NaN,12 (hearth),NaN,NaN,2210043,...,fragment,NaN,burnt,NaN,5,5,NaN,NaN,NaN,NaN
4,8SU65,221,111,NaN,542N 500E,NaN,12 (hearth),NaN,NaN,2210044,...,fragment,NaN,NaN,NaN,5,6.4,NaN,NaN,NaN,NaN
5,8SU65,221,111,NaN,542N 500E,NaN,12 (hearth),NaN,NaN,2210044,...,fragment,R,NaN,NaN,1,6.4,NaN,NaN,NaN,NaN
6,8SU65,221,111,NaN,542N 500E,NaN,12 (hearth),NaN,NaN,2210044,...,NaN,NaN,charred,NaN,1,6.4,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449,8SU65,221,302,NaN,458N 567E,NaN,NaN,Area H,NaN,2210152,...,NaN,NaN,burnt,NaN,4,0.19,NaN,NaN,NaN,NaN
450,8SU65,221,302,NaN,458N 567E,NaN,NaN,Area H,NaN,2210152,...,fragment,NaN,NaN,NaN,1,0.19,NaN,NaN,NaN,NaN
451,8SU65,221,302,NaN,458N 567E,NaN,NaN,Area H,NaN,2210152,...,NaN,NaN,NaN,NaN,2,0.19,NaN,NaN,NaN,NaN
452,8SU65,221,302,NaN,458N 567E,NaN,NaN,Area H,NaN,2210152,...,NaN,NaN,NaN,NaN,1,0.19,NaN,NaN,NaN,NaN
453,8SU65,221,302,NaN,458N 567E,NaN,NaN,Area H,NaN,2210153,...,fragment,NaN,1 burnt,NaN,3,3.94,3.94,NaN,NaN,NaN

Match Verbatim taxon to Reference (For later use, same method for element and possibly fragment)

In [13]:
#Read taxon reference list
#reference = pd.read_csv("./../Mapping Files/reference.csv")

#Establish error dictionary
#taxa_dictionary = {}

#def taxon_in_ref(taxa)
#    """Checks if taxa is cleaned"""
#    if taxa in reference
#        return taxa
#    else
#        taxon_correction(taxa)
    
#def taxon_correction(taxa): 
#    """Corrects taxa column to reference taxa list"""
#    if taxa in taxa_dictionary.values:
#        return taxa
#    elif taxa in taxa_dictionary.keys():
#        taxa = taxa_dictionary[taxa]
#        return taxa
#    else:
#        taxa = "Unknown"
#        return taxa

#data = data["Verbatim Species"].apply(taxon_in_ref)

Collect Prov. data

In [ ]:
#Fetch prov. data

Occurence ID needs to be generated, 
which just looks like a randomly generated UUID

In [7]:
data=data.assign(occurrenceID = '')
data['occurrenceID'] = [uuid.uuid4().hex for _ in range(len(data.index))]

### TODO: locationID (unclear)

In [8]:
#Fetch location ID

Standardize Column Names (unique to dataset)

In [10]:
data = data.rename(columns = {'UF Catolog': 'Catalog Number',
                              'Verbatim Species': 'Verbatim Taxon', 
                              'Clean Species': 'Taxon',
                              'Weight (g) per provenience per taxon':'Weight (g) per Catalog Number per taxon'})

### TODO: Element URI

In [12]:
#Fetch Element URI

### TODO:Chrometric Data?